[submodule "backend/gate/proto"]
	path = backend/gate/proto
	url = https://github.com/MSOStream/Spec
[submodule "backend/api-video/proto"]
	path = backend/api-video/proto
	url = https://github.com/MSOStream/Spec
[submodule "backend/packager/proto"]
	path = backend/packager/proto
	url = https://github.com/MSOStream/Spec
[submodule "backend/upload/proto"]
	path = backend/upload/proto
	url = https://github.com/MSOStream/Spec
[submodule "backend/auth/proto"]
	path = backend/auth/proto
	url = https://github.com/MSOStream/Spec
[submodule "conf/proto"]
	path = conf/proto
	url = https://github.com/MSOStream/Spec
[submodule "backend/search/Spec"]
	path = backend/search/Spec
	url = https://github.com/MSOStream/Spec.git
[submodule "backend/search/proto"]
	path = backend/search/proto
	url = https://github.com/MSOStream/Spec.git
