[submodule "backend/gate/proto"]
	path = backend/gate/proto
	url = https://github.com/MSOStream/Spec
[submodule "backend/api-video/proto"]
	path = backend/api-video/proto
	url = https://github.com/MSOStream/Spec
[submodule "backend/packager/proto"]
	path = backend/packager/proto
	url = https://github.com/MSOStream/Spec
[submodule "backend/upload/proto"]
	path = backend/upload/proto
	url = https://github.com/MSOStream/Spec
